// @import "~normalize.css/normalize.css";

@import "styles/variables.scss";
@import "styles/reset.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  background-color: white;
}

// .layout {
//   min-height: 100vh;
//   background-color: white;
// }

.visually-hidden {
  background-color: #fff;
  color: #000;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1200px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin: 0 5%;
}
