header {
  width: 100%;
  background: rgb(121, 133, 95);
  font-family: "Merriweather", serif;
}

.header {
  padding: 20px 0;
}

a,
i,
.logout-btn {
  color: white;
}

button.logout-btn {
  font-size: 24px;
  font-family: "Merriweather", serif;
  font-weight: normal;
}

.header-logo {
  font-size: 48px;
  font-style: italic;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;

  nav {
    display: flex;
    align-items: center;
    font-size: 24px;
    flex-grow: 1;
    justify-content: flex-end;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    li {
      margin-left: 40px;
    }
  }
}
