header {
  width: 100%;
  background: rgb(121, 133, 95);
  font-family: "Merriweather", serif;
}

.header {
  padding: 20px;
}

.wrapper {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

a,
i {
  color: white;
}

.header-logo {
  font-size: 48px;
  font-style: italic;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;

  nav {
    display: flex;
    align-items: center;
    font-size: 24px;
    flex-grow: 1;
    justify-content: flex-end;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    li {
      margin-left: 40px;
    }
  }
}
