header {
  width: 100%;
  background: rgb(130, 156, 167);
  // background: #a7a082;
  font-family: "Merriweather", serif;
  border-bottom: 1px solid rgb(130, 156, 167);
  color: rgb(130, 156, 167);
}

.header {
  padding: 20px 0;
}

a,
i,
.logout-btn {
  color: rgb(255, 255, 255);
  // color: rgb(130, 156, 167);
}

button.logout-btn {
  font-size: 24px;
  font-family: "Merriweather", serif;
  font-weight: normal;
}

.header-logo {
  font-size: 48px;
  font-style: italic;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;

  nav {
    display: flex;
    align-items: center;
    font-size: 24px;
    flex-grow: 1;
    justify-content: flex-end;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    li {
      margin-right: 20px;
      font-weight: bold;
      width: auto;

      &:hover {
        text-decoration: underline;
      }
    }

    li:nth-last-of-type(1) {
      margin-right: 0;
    }
  }
}
