.signup-container,
.login-container {
  padding: 30px 0;
  height: 100%;
  position: relative;
  padding-top: 50px;

  // min-height: 100vh;

  button {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

.signup-container,
.login-container,
.add-item-container,
.new-event-container,
.modify-task-container,
.modify-column-container {
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  margin-left: 10%;

  h2 {
    color: black;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;

    padding-top: 0;
    padding-bottom: 10px;

    font-family: "Merriweather", serif;
  }

  form {
    display: flex;
    justify-content: center;
  }

  .form-group {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    justify-content: flex-end;
  }
  div {
    margin: 10px 0;
    width: 100%;
  }

  label,
  .label {
    margin-top: 16px;
  }

  .date-label {
    margin-top: 0;
  }

  input,
  textarea {
    margin-top: 5px;
    padding: 2px;
    width: 100%;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgb(130, 156, 167);
    box-shadow: 2px 2px 2px 1px rgba(130, 156, 167, 0.2);
    padding: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .optional {
    color: grey;
  }

  .btn-container {
    width: auto;
    margin: 10px auto;
  }

  button {
    background-color: rgb(130, 156, 167);
    color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
  button.add-task-btn {
    background-color: rgb(130, 156, 167);
  }

  button.delete-btn {
    background-color: rgb(228, 97, 97);
    width: 70px !important;
  }

  button.save-btn {
    background-color: rgb(110, 160, 110);
    width: 70px !important;
  }

  #error-msg {
    padding: 5px;
    margin: 0 auto;
    margin-bottom: -15px;
    display: none;
    transition: display 400ms ease-in-out;
    // display: block;
  }
  .error {
    color: #cc0033;
    font-size: 16px;
    margin: 0;
    font-weight: bold;
    font-style: italic;
  }

  .saved {
    font-size: 16px;
    margin: 0;
    color: green;
    font-weight: bold;
    font-style: italic;
  }
}

.modify-column-container {
  .form-group {
    width: 350px;
  }

  input {
    margin-bottom: 10px;
  }
  p {
    height: 16px;
  }

  .btn-container {
    width: auto;
    margin: 0 auto;
  }
}

// Modify Task
.modify-task-container {
  .btn-container {
    display: flex;
    width: auto;

    button {
      margin: 0 10px;
      width: auto;
    }
  }
}

// New Event Form
.new-event-container {
  margin: 0 auto;

  div {
    margin: 0;
  }

  .container {
    padding: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(209, 209, 209);
  }

  .form-group {
    max-width: none;
    width: 100%;
  }
  span {
    padding: 0 5px;
  }

  label,
  .label,
  input,
  textarea {
    margin: 8px 0;
  }
  label,
  .label {
    margin-right: 10px;
  }

  input {
    width: auto;
  }

  // title
  .event-title {
    input {
      flex-grow: 1;
    }
  }

  .couple {
    input {
      flex-grow: 1;
    }
  }

  .contact {
    .contact-info {
      width: auto;
      flex-grow: 1;
      display: flex;
      align-items: center;
      margin: 0;

      input {
        flex-grow: 1;
        margin-right: 10px;
      }
    }
  }

  .address {
    div {
      flex-grow: 1;
      margin: 0;
      display: flex;
      align-items: center;
      width: 350px;
      justify-content: space-between;
    }
    input {
      flex-grow: 1;
      margin-right: 10px;
    }
  }
}

.new-event-container {
  .datepicker-container {
    margin: 10px 0;

    .display-event-date {
      width: 100%;

      display: flex;
      justify-content: space-between;
      align-items: center;

      div.current-date-container,
      div.new-date-container {
        display: flex;
        align-items: center;
        width: 50%;

        p {
          margin-right: 10px;
        }

        label {
          width: 120px;
        }

        input {
          width: 200px;
        }
      }
    }

    div {
      width: auto;
    }

    button {
      box-shadow: none;
    }
    .react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle {
      &::after {
        margin-left: -10px;
      }

      &::before {
        margin-left: -10px;
      }
    }

    .react-datepicker__triangle {
      margin-left: -10px;
    }

    $datepicker__background-color: #f0f0f0 !default;
    $datepicker__border-color: #aeaeae !default;
    $datepicker__highlighted-color: #3dcc4a !default;
    $datepicker__muted-color: #ccc !default;

    $datepicker__selected-color: #829ca7 !default;

    $datepicker__text-color: #000 !default;
    $datepicker__header-color: #000 !default;
    $datepicker__navigation-disabled-color: lighten($datepicker__muted-color, 10%) !default;

    $datepicker__border-radius: 0.3rem !default;
    $datepicker__day-margin: 0.166rem !default;
    $datepicker__font-size: 0.8rem !default;
    $datepicker__font-family: "Helvetica Neue", helvetica, arial, sans-serif !default;
    $datepicker__item-size: 1.7rem !default;
    $datepicker__margin: 0.4rem !default;
    $datepicker__navigation-button-size: 32px !default;
    $datepicker__triangle-size: 8px !default;

    %navigation-chevron {
      border-color: $datepicker__muted-color;

      &--disabled,
      &--disabled:hover {
        border-color: $datepicker__navigation-disabled-color;
      }
    }

    %triangle-arrow {
      margin-left: -$datepicker__triangle-size * 0.5;

      &::before,
      &::after {
        border: $datepicker__triangle-size solid transparent;
        border-width: $datepicker__triangle-size;
        left: -$datepicker__triangle-size;
      }

      &::before {
        border-bottom-color: $datepicker__border-color;
      }
    }

    %triangle-arrow-up {
      @extend %triangle-arrow;

      margin-top: -$datepicker__triangle-size;

      &::before,
      &::after {
        border-bottom-color: $datepicker__background-color;
      }

      &::before {
        top: -1px;
        border-bottom-color: $datepicker__border-color;
      }
    }

    %triangle-arrow-down {
      @extend %triangle-arrow;

      margin-bottom: -$datepicker__triangle-size;

      &::before,
      &::after {
        border-bottom: none;
        border-top-color: #fff;
      }

      &::after {
        bottom: 0;
      }

      &::before {
        bottom: -1px;
        border-top-color: $datepicker__border-color;
      }
    }

    .react-datepicker-wrapper {
      display: inline-block;
      padding: 0;
      border: 0;
      width: 100%;
    }

    .react-datepicker {
      font-family: $datepicker__font-family;
      font-size: $datepicker__font-size;
      background-color: #fff;
      color: $datepicker__text-color;
      border: 1px solid $datepicker__border-color;
      border-radius: $datepicker__border-radius;
    }

    .react-datepicker-popper {
      &[data-placement^="bottom"] {
        padding-top: $datepicker__triangle-size + 2px;
      }

      &[data-placement="bottom-end"],
      &[data-placement="top-end"] {
        .react-datepicker__triangle {
          left: auto;
          right: 50px;
        }
      }

      &[data-placement^="top"] {
        padding-bottom: $datepicker__triangle-size + 2px;

        .react-datepicker__triangle {
          @extend %triangle-arrow-down;
        }
      }

      &[data-placement^="right"] {
        padding-left: $datepicker__triangle-size;

        .react-datepicker__triangle {
          left: auto;
          right: 42px;
        }
      }

      &[data-placement^="left"] {
        padding-right: $datepicker__triangle-size;

        .react-datepicker__triangle {
          left: 42px;
          right: auto;
        }
      }
    }

    .react-datepicker__navigation {
      background: none;
      height: $datepicker__navigation-button-size;
      width: $datepicker__navigation-button-size;

      &--previous {
        left: 2px;
      }

      &--next {
        right: 2px;

        &--with-time:not(&--with-today-button) {
          right: 85px;
        }
      }

      &:hover {
        *::before {
          border-color: darken($datepicker__muted-color, 15%);
        }
      }
    }

    .react-datepicker__month {
      margin: $datepicker__margin;
      text-align: center;
      color: white;
    }

    .react-datepicker__time-container {
      border-left: 1px solid $datepicker__border-color;
      width: 85px;

      .react-datepicker__time {
        .react-datepicker__time-box {
          ul.react-datepicker__time-list {
            height: calc(195px + (#{$datepicker__item-size} / 2));

            li.react-datepicker__time-list-item {
              &:hover {
                background-color: $datepicker__background-color;
              }

              &--selected {
                background-color: $datepicker__selected-color;

                &:hover {
                  background-color: $datepicker__selected-color;
                }
              }

              &--disabled {
                color: $datepicker__muted-color;
              }
            }
          }
        }
      }
    }

    .react-datepicker__week-number {
      color: $datepicker__muted-color;
      width: $datepicker__item-size;
      line-height: $datepicker__item-size;
      margin: $datepicker__day-margin;

      &.react-datepicker__week-number--clickable {
        &:hover {
          border-radius: $datepicker__border-radius;
          background-color: $datepicker__background-color;
        }
      }
    }

    .react-datepicker__day-names,
    .react-datepicker__week {
      white-space: nowrap;
    }

    .react-datepicker__day-names {
      margin-bottom: -8px;
    }

    .react-datepicker__day-name,
    .react-datepicker__day,
    .react-datepicker__time-name {
      color: $datepicker__text-color;
      width: $datepicker__item-size;
      line-height: $datepicker__item-size;
      margin: $datepicker__day-margin;
    }

    .react-datepicker__month,
    .react-datepicker__quarter {
      &--selected,
      &--in-selecting-range,
      &--in-range {
        border-radius: $datepicker__border-radius;
        background-color: $datepicker__selected-color;

        &:hover {
          background-color: darken($datepicker__selected-color, 5%);
        }
      }

      &--disabled {
        color: $datepicker__muted-color;
      }
    }

    .react-datepicker__day,
    .react-datepicker__month-text,
    .react-datepicker__quarter-text,
    .react-datepicker__year-text {
      &:hover {
        border-radius: $datepicker__border-radius;
        background-color: $datepicker__background-color;
      }

      &--today {
        font-weight: bold;
      }

      &--highlighted {
        border-radius: $datepicker__border-radius;
        background-color: $datepicker__highlighted-color;

        &:hover {
          background-color: darken($datepicker__highlighted-color, 5%);
        }
      }

      &--selected,
      &--in-selecting-range,
      &--in-range {
        border-radius: $datepicker__border-radius;
        background-color: $datepicker__selected-color;
        color: #fff;

        &:hover {
          background-color: darken($datepicker__selected-color, 5%);
        }
      }

      &--keyboard-selected {
        border-radius: $datepicker__border-radius;
        background-color: lighten($datepicker__selected-color, 10%);
        color: #fff;

        &:hover {
          background-color: darken($datepicker__selected-color, 5%);
        }
      }

      &--in-selecting-range:not(&--in-range) {
        background-color: rgba($datepicker__selected-color, 0.5);
      }

      &--in-range:not(&--in-selecting-range) {
        .react-datepicker__month--selecting-range & {
          background-color: $datepicker__background-color;
          color: $datepicker__text-color;
        }
      }

      &--disabled {
        cursor: default;
        color: $datepicker__muted-color;

        &:hover {
          background-color: transparent;
        }
      }
    }

    .react-datepicker__year-option,
    .react-datepicker__month-option,
    .react-datepicker__month-year-option {
      &:first-of-type {
        border-top-left-radius: $datepicker__border-radius;
        border-top-right-radius: $datepicker__border-radius;
      }

      &:last-of-type {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border-bottom-left-radius: $datepicker__border-radius;
        border-bottom-right-radius: $datepicker__border-radius;
      }
    }

    .react-datepicker__day-name {
      color: white;
    }

    .react-datepicker__header {
      background-color: #829ca7;
      color: white;

      .react-datepicker__current-month {
        color: white;
      }
    }
  }
}
