// Dashboard

.Dashboard {
  width: 100%;

  .add-event-btn-container {
    width: 100%;
    margin: 10px;

    display: inline-block;
    text-align: right;

    button.new-event-btn {
      background-color: cornflowerblue;
      color: #fff;
      display: inline-block;
      margin-right: 40px;
    }
  }

  h1 {
    margin: 20px 0 10px 0;
  }

  .DashboardItems__container {
    display: flex;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
// Dashboard Items
li.DashbordItem {
  list-style: none;
  border: 1px solid rgb(121, 133, 95);
  border-radius: 10px;
  margin: 10px 0;

  .btn-container {
    width: 130px;
    display: flex;
    align-items: flex-end;

    a {
      background-color: cornflowerblue;
      color: #fff;
      display: inline-block;
      margin-bottom: 10px;
      width: auto;
    }
  }
}

.DashboardItem__content {
  padding: 10px;
  padding-bottom: 0;
}

.DashboardItem__titleBox {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid rgb(121, 133, 95);

  h3 {
    text-align: center;
    flex-grow: 1;
    padding-bottom: 4px;
    padding-left: 24px;
  }
  i {
    color: black;
    text-align: right;
    padding-left: 8px;
    cursor: pointer;
  }
}
.DashboardItems__info {
  padding: 10px 0;
  max-width: 300px;

  .info-section {
    display: flex;

    p {
      padding: 4px 0;
      width: 100%;
    }
    p.subtitle {
      font-weight: bolder;
      width: 85px;
    }
  }
}

.DashboardItems__progress {
  flex-grow: 1;

  svg {
    margin: 0 auto;
    width: 100%;

    g {
      transform: translate(0px, -25px);
    }
  }
}

.pie {
  margin: 0 auto;
}
