// Dashboard

.Dashboard {
  width: 100%;
  // min-height: 100vh;
  padding-bottom: 60px;
  .wrapper {
    flex-wrap: wrap;
  }

  .header-banner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 30px 0;
    padding-top: 50px;

    h1 {
      font-family: "Merriweather", serif;
    }

    .add-event-btn-container {
      text-align: right;

      button.new-event-btn {
        background-color: rgb(130, 156, 167);
        color: #fff;
        display: inline-block;
        margin-right: 20px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .DashboardItems__container {
    display: flex;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
// Dashboard Items
li.DashbordItem {
  list-style: none;
  border: 1px solid rgb(130, 156, 167);
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background: white;

  &:nth-child(2n + 1) {
    margin-right: 15px;
  }

  .btn-container {
    display: flex;
    height: auto;
    justify-content: center;
    margin: 10px 5px;
    text-align: center;
    width: 100%;

    a {
      background-color: rgb(130, 156, 167);
      color: #fff;
      display: inline-block;
      width: auto;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      margin: 0 10px;
    }
  }
}

.DashboardItem__content {
  padding: 10px;
  padding-bottom: 0;
}

.DashboardItem__titleBox {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid rgb(121, 133, 95);

  h3 {
    text-align: center;
    flex-grow: 1;
    padding-bottom: 4px;
    padding-left: 24px;
  }
  i {
    color: grey;
    text-align: right;
    padding-left: 8px;
    cursor: pointer;
  }
}
.DashboardItems__info {
  padding: 10px 0;
  max-width: 300px;

  .info-section {
    display: flex;

    p {
      padding: 4px;
      width: 100%;
    }
    p.subtitle {
      font-weight: bolder;
      width: 85px;
    }
  }
}

.DashboardItems__progress {
  flex-grow: 1;

  svg {
    margin: 0 auto;
    width: 100%;

    g {
      transform-origin: center;
      transform: rotate(-90deg) translate(0px, -25px);
    }
  }
}

.pie {
  margin: 0 auto;
}
